.board {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 220px;
}

.status {
    margin-bottom: 16px;
    max-width: 204px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.board-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}