@import url("../../styles/globalVariables.module.scss");

.btn-primary {
    background-color: var(--btn-primary-bg);
    color: white;
    border: none;
    border-radius: 25px;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: var(--btn-primary-bg-hover);
    }
}

.btn-secondary {
    background-color: var(--btn-secondary-bg);
    color: white;
    border-radius: 25px;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}