:root {

    //basic variables
    --white: #ffffff;
    --black: #000000;
    --dark-gray: #333333;
    --lightgray: #d3d3d3;
    --theme-color: #121212;
    --lighter-theme-color: #1a1818;

    // button styles variables
    --btn-primary-bg: #4f46e5;
    --btn-primary-bg-hover: #4338ca;
    --btn-secondary-bg: rgba(255, 255, 255, 0.1);

}