@use 'sass:math';

.home-container {
    min-height: 100vh;
    overflow: hidden;

}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    z-index: 10;
    position: relative;
    padding: 2rem;
    margin-top: 15%;
    scroll-behavior: smooth;
}

.home-title {
    margin-bottom: -4px;
}

.home-buttons {
    display: flex;
    gap: 1rem;

    .instruction-btn {
        background-color: rgba(255, 255, 255, 0.1);
        color: white;
        border-radius: 25px;
        padding: 12px 16px;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        transition: opacity 0.3s ease;

        &:hover {
            opacity: 0.8;
        }
    }
}

.instruction-section {
    text-align: center;
    margin-top: 25%;
    margin-bottom: 15%;

    .instruction-header {
        margin-bottom: 2rem;

        h1 {
            margin-bottom: 1rem;
        }

    }

    .instruction-content {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .instruction-image {
            img {
                width: 400px;
                height: 500px;
                border-radius: 10px;
            }
        }

        .instruction-text {
            max-width: 400px;
            text-align: left;
            align-self: flex-start;

            .instruction-list {
                margin-top: 0.8rem;
                list-style-type: disc;

                >* {
                    font-size: 1.2rem;
                    margin-bottom: 0.5rem;
                }
            }
        }

        .instruction-image {
            position: relative;

            img {
                max-width: 300px;
                border-radius: 10px;
            }

            .image-slideshow {
                position: absolute;
                bottom: -1.4rem;
                left: 50%;
                transform: translateX(-50%);
                display: flex;
                gap: 0.5rem;

                button {
                    width: 8px;
                    height: 8px;
                    padding: 0;
                    border-radius: 50%;
                    background-color: rgba(255, 255, 255, 0.7);
                    border: none;
                    cursor: pointer;

                    &:hover {
                        background-color: rgba(255, 255, 255, 1);
                    }
                }
            }
        }
    }
}

@mixin sp-layout {
    @media screen and (max-width: 750px) {
        @content;
    }
}


@function random_range($min, $max) {
    $rand: random();
    $random_range: $min + floor($rand * (($max - $min) + 1));
    @return $random_range;
}

.stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 130%;
    transform: rotate(-45deg);
    z-index: -1;
}

.star {
    $star-count: 50;
    --star-color: var(--primary-color);
    --star-tail-length: 6em;
    --star-tail-height: 2px;
    --star-width: calc(var(--star-tail-length) / 6);
    --fall-duration: 9s;
    --tail-fade-duration: var(--fall-duration);

    position: absolute;
    top: var(--top-offset);
    left: 0;
    width: var(--star-tail-length);
    height: var(--star-tail-height);
    color: var(--star-color);
    background: linear-gradient(45deg, currentColor, transparent);
    border-radius: 50%;
    filter: drop-shadow(0 0 6px currentColor);
    transform: translate3d(104em, 0, 0);
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;

    @include sp-layout {
        animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
    }

    @for $i from 1 through $star-count {
        &:nth-child(#{$i}) {
            --star-tail-length: #{random_range(500em, 750em) / 100};
            --top-offset: #{random_range(0vh, 10000vh) / 100};
            --fall-duration: #{random_range(6000, 12000s) / 1000};
            --fall-delay: #{random_range(0, 10000s) / 3000};
        }
    }

    &::before,
    &::after {
        position: absolute;
        content: '';
        top: 0;
        left: calc(var(--star-width) / -2);
        width: var(--star-width);
        height: 100%;
        background: linear-gradient(45deg, transparent, currentColor, transparent);
        border-radius: inherit;
        animation: blink 2s linear infinite;
    }

    &::before {
        transform: rotate(45deg);
    }

    &::after {
        transform: rotate(-45deg);
    }
}

@keyframes fall {
    to {
        transform: translate3d(-30em, 0, 0);
    }
}

@keyframes tail-fade {

    0%,
    50% {
        width: var(--star-tail-length);
        opacity: 1;
    }

    70%,
    80% {
        width: 0;
        opacity: 0.4;
    }

    100% {
        width: 0;
        opacity: 0;
    }
}

@keyframes blink {
    50% {
        opacity: 0.6;
    }
}