.pagination-container {
    --white-color: #ffffff;
    --hover-bg-color: rgba(255, 255, 255, 0.15);

    min-width: 100%;
    text-align: center;
    display: flex;
    list-style-type: none;
    padding-left: 0;

    >* {
        color: var(--white-color);
    }

    .pagination-item {
        padding: 0 12px;
        height: 32px;
        text-align: center;
        margin: auto 4px;
        display: flex;
        box-sizing: border-box;
        align-items: center;
        letter-spacing: 0.01071em;
        border-radius: 16px;
        line-height: 1.43;
        font-size: 13px;
        min-width: 32px;

        &.dots:hover {
            background-color: transparent;
            cursor: default;
        }

        &:hover {
            background-color: var(--hover-bg-color);
            cursor: pointer;
        }

        &.selected {
            background-color: var(--hover-bg-color);
        }

        .arrow {
            display: flex;
            align-items: center;

            &::before {
                position: relative;
                content: '';
                display: inline-block;
                width: 0.4em;
                height: 0.4em;
                border-right: 0.12em solid var(--white-color);
                border-top: 0.12em solid var(--white-color);
            }

            &.left {
                transform: rotate(-135deg) translate(-50%);
            }

            &.right {
                transform: rotate(45deg);
            }
        }

        &.disabled {
            pointer-events: none;

            .arrow::before {
                border-right: 0.12em solid rgba(0, 0, 0, 0.43);
                border-top: 0.12em solid rgba(0, 0, 0, 0.43);
            }

            &:hover {
                background-color: transparent;
                cursor: default;
            }
        }
    }
}