.header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    transition: all 0.3s linear;
    background: #121212;
}


.header-container {
    display: flex;
    align-items: center;
}

.header-title {
    width: 30%;

    .header-link {
        color: white;
    }
}

.header-nav {
    display: flex;
    flex: 1;
    margin: auto;

    .nav-list {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-evenly;

        .nav-link {
            color: white;

            &:hover {
                color: lightgray;
            }
        }

        .nav-auth {
            display: flex;
            gap: 1rem;

            .nav-link-btn {
                min-width: 100px;
                padding: 12px 24px;
                border-radius: 6px;
            }
        }
    }
}