.game {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 200px 200px
}

.back-button {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    align-self: start;

}

.uma-info {
    grid-column: 1 / span 4;
    grid-row: 1 / span 1;
    display: flex;

    .uma-avatar {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-right: 1rem;
        object-fit: cover;

        img {
            display: block;
            padding-top: 20px;
        }
    }

    .uma-text {
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 0.3rem;

        h2 {
            margin: 0;
        }

        h3 {
            margin: 0;
            font-weight: 400;
        }
    }
}

.game-container {
    grid-column: 3 / span 6;
    grid-row: 2;
    display: flex;
}