#root {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

}

.board {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.status {
    margin-bottom: 16px;
}

.board-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}

.square {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #000;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
}